<div class="facility-data"> 
    <div class="ui link cards">
        <div class="card">
        <div class="hearder-sect">
            <div>{{state.name}}</div>
        </div>
        <div class="content"> 
            <div class="ui left input edit">
                <div class="label-name">State name: </div><input type="text" [(ngModel)]="state.name">
            </div>
            <div class="status-btn">
            <button class="ui positive basic button" (click)="onEdit(state)">Update</button>
            <button class="ui negative basic button" (click)="onDelete(state)">Delete</button>
            </div>
        </div>

        </div>
    </div>