<div class="x-2">
  <div class="sect-wrap by-2 border-liners">
    <div class="sect-toplinks">
      <div class="sect-title">Transactions</div>
      <div class="sect-links">
        <button (click)="fundwallet_click()" class="ui primary button">Fund Wallet</button>
      </div>
    </div>

    <div class="sect-tbl">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Description</th>
            <th>Status</th>
            <th>Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>Cr</td>
            <td>&#x20A6;1,000</td>
          </tr>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>Cr</td>
            <td>&#x20A6;1,000</td>
          </tr>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>Cr</td>
            <td>&#x20A6;1,000</td>
          </tr>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>Cr</td>
            <td>&#x20A6;1,000</td>
          </tr>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>Cr</td>
            <td>&#x20A6;1,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sect-wrap by-2 border-liners">
    <div class="sect-toplinks">
      <div class="sect-title">Pay Outs</div>
      <div class="sect-links">
        <button class="ui primary button">Initiate Payout</button> 
      </div>
    </div>

    <div class="sect-tbl">
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Description</th>
            <th>Status</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>&#x20A6;120,000</td>
          </tr>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>&#x20A6;221,000</td>
          </tr>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>&#x20A6;150,000</td>
          </tr>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>&#x20A6;190,000</td>
          </tr>
          <tr>
            <td>cr2211ac</td>
            <td>September 14, 2013</td>
            <td>Billed for registration</td>
            <td>Completed</td>
            <td>&#x20A6;100,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="ui tiny modal"> 
  <app-fund-wallet></app-fund-wallet> 
</div>

