<div class="sect-wrap">
  <div class="sect-inner">
    <div class="ui search">
      <div class="ui icon input">
        <input (keyup)="onSearch()" class="prompt" type="text" placeholder="Facilities...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>  

    <div class="facility-data"> 
      <div class="logo-wrap">
        <img src="../../../assets/default.png">
      </div>
      <div class="facility-name">Continental Hospital</div>
    </div>
  </div>
</div>

<app-facility-wallet></app-facility-wallet>
