.top-item{
    padding: 5px;
    font-size: 0.8em;
}
.below-item{
    position:absolute;
    padding: 2px;
    top:170px;
    bottom:0;
    right:0;
    font-size: 2em;
    margin-right:5px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card-container>* {
    flex: 5 5 300px;
    margin : 10px;
}
.card-box {
    width:300px;
    min-height:200px;
    background:#fff;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
    margin-bottom: 20px;
}
.card-item {
position: relative;
}