<div class="wrapper">
    <div class = "card-container">
        <div class="card-box">
            <div class="card-item">
                <div class="top-item">
                    Total Facilities
                </div>

                <!-- <h2>This guy shows the<br><span>total count of</span></h2>
                <p> Facilities.</p> -->
                <div class="below-item">
                        90,000
                </div>
             </div>

        </div>
        <div class="card-box">
            <div class="card-item">
                <!-- <h2>This guy shows the<br><span>total count of</span></h2>
                <p> Users.</p> -->
             </div>
        </div>
        <div class="card-box">
            <div class="card-item">
                <!-- <h2>This guy shows the<br><span>total count of</span></h2>
                <p> Facilities.</p> -->
             </div>
        </div>
        <div class="card-box">
            <div class="card-item">
                <!-- <h2>This guy shows the<br><span>total count of</span></h2>
                <p> Facilities.</p> -->
             </div>
        </div>
        <div class="card-box">
            <div class="card-item">
                <!-- <h2>This guy shows the<br><span>total count of</span></h2>
                <p> Facilities.</p> -->
             </div>
        </div>
        <div class="card-box">
            <div class="card-item">
                <!-- <h2>This guy shows the<br><span>total count of</span></h2>
                <p> Facilities.</p> -->
             </div>
        </div>
    <div>
</div>



